.Progress {
  height: 35px;
  margin-bottom: 40px;
  text-align: right;
  font-size: 30px;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
}

.Result {
  margin-top: 30px;
  height: 40px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
  text-align: right;
}